<h1>Perfil do Escritório</h1>

<% attributes = {
  "Nome" => @law_firm.name,
  "CNPJ" => @law_firm.cnpj,
  "Email de contato" => @law_firm.contact_email,
  "Endereço" => @law_firm.address_street,
  "Complemento" => @law_firm.address_complement,
  "Cidade" => @law_firm.address_city,
  "Estado" => @law_firm.address_state,
  "CEP" => @law_firm.address_zip_code,
  "País" => @law_firm.address_country
} %>

<% attributes.each do |label, value| %>
  <p><strong><%= label %>:</strong> <%= value %></p>
<% end %>